### Find all numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).

Use `for` loop approach.

In [1]:
i = 0
print_out = ''

for n in range(2000, 3201):
    if ((n % 7 == 0)  & (n % 5 != 0)):
        if (i == 0):
            print_out = str(n)
        else:
            print_out = print_out + ',' + str(n)
        i = i + 1

print(print_out)

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Use single-line approach, using list comprehension.

In [2]:
','.join([str(i) for i in range(2000, 3201) if (i % 7 == 0) and (i % 5 != 0)])

'2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199'

Create function to check whether number is divisible by **all** specified divisors.

In [3]:
def is_divisible(number, divisors):
    if isinstance(divisors, int):
        divisors = [divisors]

    for divisor in divisors:
        if number % divisor != 0:
            return False
    
    return True

assert is_divisible(250, 5) == True
assert is_divisible(250, [5]) == True
assert is_divisible(250, [5, 10, 25, 50]) == True
assert is_divisible(250, [5, 100]) == False
assert not is_divisible(250, [5, 100]) == True
assert not is_divisible(27, [2, 10]) == True

Create generator (use `yield` statement) to iterate through multiples.

`yield` is similar to `return`. Difference is that function continues to execute with `yield`.

In [4]:
def get_multiples(start, end, divisors_include, divisors_exclude):
    
    numbers = range(start, end+1)

    valid_numbers = []

    for number in numbers:
        if (is_divisible(number, divisors_include)
           and not is_divisible(number, divisors_exclude)):

            yield number

In [5]:
multiples = get_multiples(1, 50, 5, 10)

for multiple in multiples:
    print(multiple)
    assert multiple % 5 == 0 and multiple % 10 != 0

5
15
25
35
45

In [6]:
','.join([str(multiple) for multiple in get_multiples(1, 100, 5, 10)])

'5,15,25,35,45,55,65,75,85,95'

In [7]:
','.join([str(multiple) for multiple in get_multiples(2000, 3200, 7, 5)])

'2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199'